@import "./dark-theme.css";

/* textos y tipografias */
:root {
  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;

  @media (width < 768px) {
    font-size: 15px;
  }
}

body {
  
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* /* font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg); */


  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

/* Sonner: evitar que el contenedor ocupe espacio en el layout */
/* [data-sonner-toaster] {
  position: fixed !important;
} */
