.admin {
    display: flex;
    height: calc(100vh - 20px);
    border: 8px solid #000;
    border-radius: 24px;
    overflow: hidden;
    
    .main {
        flex: 1;
        padding: 20px 20px 20px 20px;
        background: var(--bg);
        overflow-y: auto;
        /* height: calc(100vh - 20px); */
    }
}