.admin {
    display: flex;
    height: calc(100vh - 20px);
    
    
    .main {
        flex: 1;
        padding: 80px 20px 20px 20px;
        background: #000;
        overflow-y: auto;
        height: calc(100vh - 20px);
    }
}